<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="yandex-verification" content="705fb9a270203cee" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{!-- Brand icon --}}
    <link rel="apple-touch-icon" sizes="57x57" href="{{asset "images/apple-icon-57x57.png"}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{asset "images/apple-icon-60x60.png"}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset "images/apple-icon-72x72.png"}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset "images/apple-icon-114x114.png"}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset "images/apple-icon-120x120.png"}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{asset "images/apple-icon-144x144.png"}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset "images/apple-icon-152x152.png"}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset "images/apple-icon-180x180.png"}}">
    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset "images/favicon-32x32.png"}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{asset "images/favicon-96x96.png"}}">
    <link rel="manifest" href="{{asset "manifest.json"}}" />
    <meta name="theme-color" content="#f00">

    <style>
body{color:#3a4145;font-family:serif}.wf-active body{font-family:"Merriweather", serif}*{margin:0;padding:0;box-sizing:border-box}*:before,*:after{box-sizing:border-box}h1,h2,h3,h4,h5,h6{-webkit-font-feature-settings:'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;-moz-font-feature-settings:'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;-o-font-feature-settings:'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;color:#2e2e2e;line-height:1.15em;margin:0 0 0.4em 0;font-family:"Open Sans", sans-serif;text-rendering:geometricPrecision}h1{font-size:3.6rem;letter-spacing:-2px;text-indent:-3px}h2{font-size:3.6rem;letter-spacing:-1px}h3{font-size:3rem;letter-spacing:-0.6px}h4{font-size:2.5rem}h5{font-size:2rem}h6{font-size:2rem}a{color:#4a4a4a;transition:color 0.3s ease}a:hover{color:#111}p,ul,ol,dl{-webkit-font-feature-settings:'liga' 1, 'onum' 1, 'kern' 1;-moz-font-feature-settings:'liga' 1, 'onum' 1, 'kern' 1;-o-font-feature-settings:'liga' 1, 'onum' 1, 'kern' 1;margin:0 0 16px 0;text-rendering:geometricPrecision}.row{max-width:710px;margin:0 auto}html{height:100%;max-height:100%;font-size:62.5%;-webkit-tap-highlight-color:transparent}body{height:100%;max-height:100%;letter-spacing:0.01rem;font-size:1.8rem;line-height:1.75em;-webkit-font-feature-settings:'kern' 1;-moz-font-feature-settings:'kern' 1;-o-font-feature-settings:'kern' 1;text-rendering:geometricPrecision}.inner{position:relative;width:80%;max-width:710px;margin:0 auto}.main-header{-webkit-flex:1;-ms-flex:1;flex:1;position:relative;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-content:center;-ms-flex-line-pack:center;align-content:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;text-align:center;width:100%;margin-bottom:5rem;background:no-repeat center center;background-size:cover;overflow:hidden;transition:all 0.5s linear}.main-nav{position:relative;padding:24px 40px 0}.main-nav a{text-decoration:none;font-family:'Open Sans', sans-serif}.vertical{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.post{position:relative;width:80%;max-width:710px;margin:2.5rem auto;padding-bottom:2.5rem;border-bottom:#ebf2f6 1px solid;word-wrap:break-word}.post:after{display:block;content:"";width:7px;height:7px;border:#e7eef2 1px solid;position:absolute;bottom:-5px;left:50%;margin-left:-5px;background:#fff;border-radius:100%;box-shadow:#fff 0 0 0 5px}.post-head.main-header{height:65vh;min-height:180px}.no-cover.post-head.main-header{height:auto;min-height:0;margin-bottom:0;background:transparent;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}.page-title{margin:10px 0 10px 0;font-size:5rem;letter-spacing:-1px;font-weight:700;font-family:"Open Sans", sans-serif;color:#fff}.page-description{margin:0;font-size:2rem;line-height:1.5em;font-weight:400;font-family:"Merriweather", serif;letter-spacing:0.01rem;color:rgba(255,255,255,0.8)}body.nav-opened .nav-cover{position:fixed;top:0;left:0;right:240px;bottom:0;z-index:200}.nav{position:fixed;top:0;right:0;bottom:0;z-index:5;width:240px;opacity:0;background:#111;margin-bottom:0;text-align:left;overflow-y:auto;transition:opacity 0.3s ease 0.7s, -webkit-transform 0.5s ease;transition:transform 0.5s ease, opacity 0.3s ease 0.7s;transition:transform 0.5s ease, opacity 0.3s ease 0.7s, -webkit-transform 0.5s ease}

</style>

    <script>
        // https://github.com/filamentgroup/loadCSS
        !function(e){"use strict"
            var n=function(n,t,o){function i(e){return f.body?e():void setTimeout(function(){i(e)})}var d,r,a,l,f=e.document,s=f.createElement("link"),u=o||"all"
                return t?d=t:(r=(f.body||f.getElementsByTagName("head")[0]).childNodes,d=r[r.length-1]),a=f.styleSheets,s.rel="stylesheet",s.href=n,s.media="only x",i(function(){d.parentNode.insertBefore(s,t?d:d.nextSibling)}),l=function(e){for(var n=s.href,t=a.length;t--;)if(a[t].href===n)return e()
                    setTimeout(function(){l(e)})},s.addEventListener&&s.addEventListener("load",function(){this.media=u}),s.onloadcssdefined=l,l(function(){s.media!==u&&(s.media=u)}),s}
            "undefined"!=typeof exports?exports.loadCSS=n:e.loadCSS=n}("undefined"!=typeof global?global:this)
        loadCSS('{{asset "css/styles.css"}}');
    </script>
    <noscript>
        <link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />
    </noscript>
    {{!-- Styles'n'Scripts --}}

    <!--<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />-->

    <script async src="{{asset "js/bundle.js"}}"></script>

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{!-- The blog navigation links --}}
    {{navigation}}

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The tiny footer at the very bottom --}}
        <footer class="site-footer clearfix">
            <div class="row">
                <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            </div>
        </footer>

    </div>

    {{ghost_foot}}

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-91319183-1', 'auto');
        ga('send', 'pageview');

    </script>

</body>
</html>
