<!DOCTYPE html>
<html lang="en">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="yandex-verification" content="705fb9a270203cee" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="amphtml" href="{{@blog.url}}{{post.url}}amp/" />
    {{!-- Brand icon --}}
    <link rel="apple-touch-icon" sizes="57x57" href="{{asset "images/apple-icon-57x57.png"}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{asset "images/apple-icon-60x60.png"}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset "images/apple-icon-72x72.png"}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset "images/apple-icon-114x114.png"}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset "images/apple-icon-120x120.png"}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{asset "images/apple-icon-144x144.png"}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset "images/apple-icon-152x152.png"}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset "images/apple-icon-180x180.png"}}">
    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset "images/favicon-32x32.png"}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{asset "images/favicon-96x96.png"}}">
    <link rel="manifest" href="{{asset "manifest.json"}}" />
    <meta name="theme-color" content="#f00">
    <!-- inject-style src="content/themes/custom-theme/assets/css/small.css" -->

    <script>
        !function(a){"use strict";var b=function(b,c,d){function e(a){return h.body?a():void setTimeout(function(){e(a)})}function f(){i.addEventListener&&i.removeEventListener("load",f),i.media=d||"all"}var g,h=a.document,i=h.createElement("link");if(c)g=c;else{var j=(h.body||h.getElementsByTagName("head")[0]).childNodes;g=j[j.length-1]}var k=h.styleSheets;i.rel="stylesheet",i.href=b,i.media="only x",e(function(){g.parentNode.insertBefore(i,c?g:g.nextSibling)});var l=function(a){for(var b=i.href,c=k.length;c--;)if(k[c].href===b)return a();setTimeout(function(){l(a)})};return i.addEventListener&&i.addEventListener("load",f),i.onloadcssdefined=l,l(f),i};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this);
        !function(a){if(a.loadCSS){var b=loadCSS.relpreload={};if(b.support=function(){try{return a.document.createElement("link").relList.supports("preload")}catch(b){return!1}},b.poly=function(){for(var b=a.document.getElementsByTagName("link"),c=0;c<b.length;c++){var d=b[c];"preload"===d.rel&&"style"===d.getAttribute("as")&&(a.loadCSS(d.href,d,d.getAttribute("media")),d.rel=null)}},!b.support()){b.poly();var c=a.setInterval(b.poly,300);a.addEventListener&&a.addEventListener("load",function(){b.poly(),a.clearInterval(c)}),a.attachEvent&&a.attachEvent("onload",function(){a.clearInterval(c)})}}}(this);
    </script>

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{!-- The blog navigation links --}}
    {{navigation}}

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
        {{{body}}}

        {{!-- The tiny footer at the very bottom --}}
        <footer class="site-footer clearfix">
            <div class="row">
                <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            </div>
        </footer>

    </div>

    {{ghost_foot}}

    <link rel="preload" href="{{asset "css/styles.css"}}" as="style" onload="this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet" type="text/css" href="{{asset "css/styles.css"}}" />
    </noscript>

    <script async src="{{asset "js/bundle.js"}}"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-91319183-1', 'auto');
        ga('send', 'pageview');
    </script>

</body>
</html>
